body{
    background-color: rgb(234, 233, 228);
    width: 400px;
    /* height: 600px; */
    border-radius: 10px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    position: relative;
    left: 5%;
    top: 5%;
    width: 90%;

    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.item{
    /* background-color: greenyellow; */
    transition: scale 100ms;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.item:hover{
    scale:1.05;
}

.footer{
    --spacing: 5px;
    position: absolute;
    bottom: var(--spacing);
    right: var(--spacing);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
}

.dropbox{
    position: relative;
    left: 5%;
    top: 10%;
    background-color: rgba(226, 226, 226, 0.279);
    box-shadow: inset 0 0 10px #CCDBE8;
    box-shadow: 3px 3px 6px 0px #CCDBE8 inset, -3px -3px 6px 1px rgba(255,255,255,0.5) inset;
    /* box-shadow: rgb(204, 219, 232) 0px 0px 20px 5px inset; */
    /* border: 1px solid rgb(96, 96, 96); */
    border-radius: 5px;
    width: 90%;
    height: 100px;
    margin-bottom: 100px;
}

#dragdrop{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

#synchrony-logo{
    /* display: none; */
    height: 20px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

/* Verification page CSS */

h1{
    font-size: 30px;
}

.success-box{
    margin: 50px;
    margin-bottom: 100px;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }
